
.card-header:first-child {
    border-radius: var(--mdb-card-inner-border-radius) var(--mdb-card-inner-border-radius) 0 0;
}
.card-header {
    --mdb-card-header-border-width: 2px;
    --mdb-card-header-border-color: #f5f5f5;
    border-bottom: var(--mdb-card-header-border-width) solid var(--mdb-card-header-border-color);
}
.card {
    border: 0;
}

.mb-4 {
    margin-bottom: 1.5rem;
}
.border {
    border: 1px solid rgb(216, 212, 212);
    margin: 9px;
}
.shadow-0, .shadow-none {
    box-shadow: none;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.px-4 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 22px;
   
    color: var(--mdb-card-color);
}
.new456 .card-body {
    flex: 1 1 auto;
    padding: 22px;

    color: var(--mdb-card-color);
}
.orderimg {
    margin-left: -4%;
    margin-right: 4%;
}
.orderimg img{
    object-fit: contain;
}
.ordername p{
    margin-left: -27%;
    font-size: 25px;
}
.ordername1 p{
    margin-left: -27px;
    font-size: 25px;
}
.ordername2 p{
    margin-left: -18px;
    font-size: 23px;
}
.ordername3 p{
    margin-left: 14px;
    font-size: 25px;
}
.ordername4 p{

    margin-left: -56px;
    font-size: 25px;
}
.track button{

    width: 18%;
    background-color: transparent;
    color: #050505;
    font-family: 'Cagliostro', sans-serif;
    font-size: 20px;
    margin-right: -1%;
    margin-left: 1%;
}
.track1 button{

    width: 22%;
    background-color: transparent;
    color: #050505;
    font-family: 'Cagliostro', sans-serif;
    font-size: 20px;
    margin-right: 6%;
    margin-left: 1%;
    margin-top: -6.5%;
}
.class{

    font-size: 42px;
    margin-left: 3%;

}
