
.editbtn {
  width: 80px;
  padding: 6px;
    margin: 7px 3px;

  background-color: #314fc5;
  outline: none;
  border: none;
  box-shadow: 2px 2px 2px #3f3f3f;
  text-align: center;
} 

.deletebtn {
  width: 81px;
  padding: 7px;
  margin: 0 3px;
  background-color: #cc0808;
  outline: none;
  border: none;
  box-shadow: 2px 2px 2px #3f3f3f;
  text-align: center;
  }
  
  .editbtn:hover{
    box-shadow: 2px 2px 3px ;
    color: #e4e6ee;
  }
  
  
  .deletebtn:hover {
    box-shadow: 2px 2px 3px ;
    color: #e4e6ee;
  }
  
  button:active {
    box-shadow: 1px 1px 3px ;
  }
  a:hover {
    color: rgb(235, 229, 229);
  }

  #container {
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
  }
  
  #edit {
    padding: 5px;
    outline: none;
  }
  
  

  