button {
  background-color:  #3949ab;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.cancelbtn:hover, .signupbtn:hover {
  
  opacity:1;
  background-color: #04bd2c;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color:  #3949ab;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn{
  float: left;
  width: 45%;
}

.signupbtn {
  float: right;
  width: 45%;
}

.container {
  padding: 16px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}