
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin-left: -8%;
    font-size: 2.7rem;
    font-weight: 400;
    color: #1e8ccd;
    font-family: 'Cagliostro', sans-serif;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}


.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}





.editprofile .col-md-12{
    width: 100%;
}
.editprofile .col-md-3{
    width: 25%;
    padding-left: 0px;
}
.editprofile .col-md-9{
    width: 75%;
    margin-top: -348px;
    margin-left: 297px;
    
}
.editprofile .col-md-6{

    border: none;
}
.account-settings .user-profile .user-avatar img {
    width: 125px;
    height: 125px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-top: 3%;
    margin-right: 1%;
}
.account-settings .user-profile .user-avatar {
    margin:34px 0 1rem 0;
    
}
.account-settings .user-profile h5.user-name {
   margin:  20px 0 0.5rem -16px;
    font-size: 28px;
    text-transform: capitalize;
    font-family: 'Cagliostro', sans-serif;
}
.account-settings .user-profile {
    margin: 0 0 34px 0;
    padding-bottom: 1rem;
    text-align: center;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.personal h4{
    margin:  34px 0 1rem 0;
    font-size: 30px;
    color: #1e8ccd;
    font-family: 'Cagliostro', sans-serif;
}
.ChangePassword h4{
    margin:  34px 0 1rem 0;
    font-size: 30px;
    color: #1e8ccd;
    font-family: 'Cagliostro', sans-serif;
}
.updatebutton {
    padding: 1.25rem;
}
.updatebutton1 {
    padding: 1.25rem;
}
.updatebutton1 button{
    width: 30%;
   background-color: #1e8ccd;
   color: #f4f5f8;
   font-family: 'Cagliostro', sans-serif;
   font-size: 22px;
  
}
.updatebutton button{
     width: 30%;
    background-color: #1e8ccd;
    color: #f4f5f8;
    font-family: 'Cagliostro', sans-serif;
    font-size: 22px; 
}

