
.list-unstyled{
    list-style:none;    
    padding-left: 62px;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    font-family: 'Cagliostro', sans-serif;
    }
   
    .invoicetitle1 p{
           
        padding-left: 62px;
        font-family: 'Cagliostro', sans-serif;
        }
    .row {
        --mdb-gutter-x: 1.5rem;
        --mdb-gutter-y: 0;
        font-family: 'Cagliostro', sans-serif;
        flex-wrap: wrap;
        margin-top: calc(var(--mdb-gutter-y)*-1);
        margin-right: calc(var(--mdb-gutter-x)*-0.5);
        margin-left: 2%;
        
    }
    .invoicetitle h2{
        font-size: 32px;
        margin-left: 4%;
        margin-top: 1%;
        margin-right: 40%;
        font-family: 'Cagliostro', sans-serif;
    }
    

.delivery1 {
    margin-top: -4.6em;
    margin-left: 23%;
    
}

.delivery1 i.fa-file-pdf{
   color: rgb(173, 4, 4);
   font-size: 1.1em;
}
.delivery1 i.fa-print{
    color: rgba(13, 89, 175, 0.72);
    font-size: 1.1em;
 }


 .my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mx-1 {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}


.justify-content-center {
    justify-content: center!important;
}
   


.row1 {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 80px;
    padding-left:  80px;
   margin-top: 4%;
}
.table {
    caption-side: bottom;
    border-collapse: collapse;
}


.table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 1px;
    border-color: rgb(230, 221, 221);
    margin-top: 6%;
}

.table {
--mdb-table-font-size: 0.9rem;
--mdb-table-divider-color: rgba(0,0,0,0.1);
font-size: 1.3em;
}
.table > thead > tr > th, .table > tfoot > tr > th, .table > thead > tr > td  {
    font-size: 1.1em;
    color: #f0ebeb;
    border-top: none ;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;

}
.table > tbody > tr > td {
    font-size: 1.1em;
    color: #2c2b2b;
    border-top: none;
    border-right: none;

}
.table > tfoot > tr > td {
    font-size: 1.1em;
    color: #2c2b2b;
    border-top: none;
    border-right: none;
}
.table > tbody > tr > th {
    font-size: 1.1em;
    color: #2c2b2b;
    border-top: none;
    border-right: none;

}
.row2 .ms-3 {
    margin-left: 11rem!important;
    font-family: 'Cagliostro', sans-serif;
}
.row2  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Cagliostro', sans-serif;
}
.row2  p {
    margin-top: 40px;
    margin-bottom: 2rem;
    font-size: 25px;
    margin-left: 110px;
    font-family: 'Cagliostro', sans-serif;
}
.row3  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Cagliostro', sans-serif;
}
.row3  p {
    margin-top: 14px;
    margin-bottom: 2rem;
    font-size: 23px;
    margin-left: 26px;
    font-family: 'Cagliostro', sans-serif;
}
.row3 .col-md-5 {
    font-size: 24px;
    position: relative;
    margin-top: 4%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 120px;
    font-family: 'Cagliostro', sans-serif;

}
.row3  .list-unstyled{
    font-size: 24px;
    list-style:none;    
    padding-left: 80px;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    font-family: 'Cagliostro', sans-serif;
    }
    .row2 button:hover{
        color: white;
    }
.row2 button{
    background-color: #1e8ccd;
    color: white;
    margin-left: 75%;
    margin-top: -9%;
    font-size: 20px;
    font-family: 'Cagliostro', sans-serif;
    width: 14%;
}
.row3 .charge{

    list-style:none;    
    padding-left: -26px;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    font-family: 'Cagliostro', sans-serif;


}